---
Language: Cpp
BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
BreakTemplateDeclarations: Yes
SpaceAfterTemplateKeyword: true
UseTab: Never
BreakBeforeBraces: Allman
AllowShortIfStatementsOnASingleLine: WithoutElse
# AllowShortBlocksOnASingleLine: false
# AllowShortFunctionsOnASingleLine: Empty
IndentCaseLabels: false
ColumnLimit: 120
ReflowComments: false
AccessModifierOffset: -4
NamespaceIndentation: All
FixNamespaceComments: false
