[submodule "extern/byOpen"]
	path = extern/byOpen
	url = https://github.com/hack0z/byOpen
[submodule "extern/spdlog"]
	path = extern/spdlog
	url = https://github.com/gabime/spdlog
[submodule "extern/Dobby"]
	path = extern/Dobby
	url = https://github.com/LSPosed/Dobby
[submodule "extern/KittyMemory"]
	path = extern/KittyMemory
	url = https://github.com/MJx0/KittyMemory
