[submodule "extern/spdlog"]
	path = extern/spdlog
	url = https://github.com/gabime/spdlog
[submodule "extern/Dobby"]
	path = extern/dobby-android
	url = https://github.com/LSPosed/Dobby
[submodule "extern/KittyMemory"]
	path = extern/KittyMemory
	url = https://github.com/MJx0/KittyMemory
[submodule "extern/backward-cpp"]
	path = extern/backward-cpp
	url = https://github.com/bombela/backward-cpp
[submodule "extern/xDL"]
	path = extern/xDL
	url = https://github.com/hexhacking/xDL
[submodule "extern/cpp-httplib"]
	path = extern/cpp-httplib
	url = https://github.com/yhirose/cpp-httplib
[submodule "extern/dobby-windows"]
	path = extern/dobby-windows
	url = https://github.com/BepInEx/Dobby
